<div class="col-sm-3" style="padding-bottom: 30px">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <a href="{{ if .website }}{{ .website }}{{else if .linkedin }}{{ .linkedin }}{{ else }}javascript:void(0){{ end }}" target="_blank">
                    <img src="./{{ .face_picture }}" class="rounded-circle img-fluid" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">{{ .first_name }} {{ .last_name }}</div>
        </div>
        <div class="row" style="font-size: 80%; text-align: center;">
            <div class="col-sm-12 text-center">{{ i18n .status }}</div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                {{ if .linkedin }}
                <a class="btn btn-xs btn-social-icon btn-linkedin" href="{{ .linkedin }}" target="_blank">
                    <span class="fa fa-linkedin"></span>
                </a>
                {{ end }}
                {{ if .scholar }}
                <a class="btn btn-xs btn-social-icon btn-github" href="{{ .scholar }}&amp;view_op=list_works&amp;sortby=pubdate" target="_blank">
                    <img src="./images/scholar.png" />
                </a>
                {{ end }}
                {{ if .github }}
                <a class="btn btn-xs btn-social-icon btn-github" href="{{ .github }}" target="_blank">
                    <span class="fa fa-github"></span>
                </a>
                {{ end }}
                {{ if .website }}
                <a class="btn btn-xs btn-social-icon btn-reddit" href="{{ .website }}" target="_blank">
                    <img src="./images/homepage.png" />
                </a>
                {{ end }}
                {{ if .twitter }}
                <a class="btn btn-xs btn-social-icon btn-twitter" href="{{ .twitter }}" target="_blank">
                    <span class="fa fa-twitter"></span>
                </a>
                {{ end }}
            </div>
        </div>
    </div>
</div>
